// global-variables.scss

$color-purple: #644C8A;
$color-dark-purple: #493863;

$color-gray: #9C9C9C;
$color-dark-gray: #5A6163;
$color-light-gray: #D9D9D9;

$color-facebook: #3b5998;
$color-twitter: #4099FF;

$prefixes: webkit moz ms o;